.logo {
  display: flex;
  align-items: baseline;
  column-gap: 10px;
  cursor: pointer;

  &__img {
    display: inline-block;
    width: 35px;
    height: 30px;
    background-image: url("assets/icons/cat-solid.svg");
  }

  &__text {
    font-size: 3.5rem;
    font-weight: 100;
    letter-spacing: 3px;
    color: $primary;
  }
}
