.search {
  display: flex;

  &__input {
    padding: 8px 10px;
    width: 100%;
    border: 1px solid $secondaryDark;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: 0;
    cursor: text;
    font-size: 1.3rem;
    line-height: 1.3rem;

    &:focus {
      border: 1px solid $neutralBlue;
    }

    &::-webkit-search-cancel-button,
    ::-webkit-search-decoration {
      -webkit-appearance: auto;
    }
  }

  &__btn {
    width: 30px;
    height: 33px;
    background: url("assets/icons/magnifying-glass-solid.svg") no-repeat center/50% $secondary;
    border: 1px solid $secondaryDark;
    border-left: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      background-color: $secondaryDark;
    }
  }
}
