.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 10px;

  &__text {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;

    &::selection {
      color: $neutralLight;
      background: $primary;
    }
  }
}
