.sidebar {
  position: fixed;
  display: flex;
  flex-shrink: 0;
  width: 240px;
  background-color: $secondary;
  min-height: calc(100vh - 65px);
  z-index: 10;

  &__users {
    position: fixed;
    max-height: 55vh;
    width: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;

    &::-webkit-scrollbar-button {
      width: 1px;
      height: 1px;
    }
    &::-webkit-scrollbar {
      width: 1px;
      height: 1px;
      background: transparent;
    }
  }

  &__user {
    padding: 14px 16px 17px;
    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $secondaryDark;
    }
  }

  &__info {
    margin-top: auto;
    padding: 14px 16px 17px;
    width: 240px;
    border-top: 1px solid $neutralLight;
    background-color: $secondary;
    z-index: 1;
  }
}
