/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  line-height: 1rem;
}

.btn {
  cursor: pointer;
}
.btn_paw {
  background: url("assets/icons/paw-solid.svg") no-repeat center/50% #ffbe7d;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: 0;
}

.icon {
  display: inline-block;
  cursor: pointer;
  -webkit-mask-size: cover;
}
.icon_microphone {
  -webkit-mask: url("assets/icons/microphone-solid.svg");
  mask: url("assets/icons/microphone-solid.svg");
  width: 23px;
  height: 25px;
  margin-left: 10px;
  background: #d7d7d7;
}
.icon_microphone:hover,
.icon_microphone :focus {
  background-color: #aeafb0;
}
.icon_bell {
  -webkit-mask: url("assets/icons/bell-solid.svg");
  mask: url("assets/icons/bell-solid.svg");
  width: 25px;
  height: 29px;
  background: #d7d7d7;
}
.icon_bell:hover,
.icon_bell :focus {
  background-color: #aeafb0;
}
.icon_paw, .icon_settings, .icon_logout {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background: #0d1015;
}
.icon_telegram, .icon_instagram, .icon_facebook {
  width: 25px;
  background: #0d1015;
}
.icon_telegram:hover,
.icon_telegram :focus, .icon_instagram:hover,
.icon_instagram :focus, .icon_facebook:hover,
.icon_facebook :focus {
  background-color: #0000ff;
}
.icon_paw {
  -webkit-mask: url("assets/icons/paw-solid.svg");
  mask: url("assets/icons/paw-solid.svg");
}
.icon_settings {
  -webkit-mask: url("assets/icons/gear-solid.svg");
  mask: url("assets/icons/gear-solid.svg");
}
.icon_logout {
  -webkit-mask: url("assets/icons/right-from-bracket-solid.svg");
  mask: url("assets/icons/right-from-bracket-solid.svg");
  background: #ff1964;
}
.icon_telegram {
  -webkit-mask: url("assets/icons/telegram.svg");
  mask: url("assets/icons/telegram.svg");
  height: 26px;
}
.icon_instagram {
  -webkit-mask: url("assets/icons/instagram.svg");
  mask: url("assets/icons/instagram.svg");
  height: 30px;
}
.icon_facebook {
  -webkit-mask: url("assets/icons/facebook.svg");
  mask: url("assets/icons/facebook.svg");
  height: 25px;
}

.logo {
  display: flex;
  align-items: baseline;
  column-gap: 10px;
  cursor: pointer;
}
.logo__img {
  display: inline-block;
  width: 35px;
  height: 30px;
  background-image: url("assets/icons/cat-solid.svg");
}
.logo__text {
  font-size: 3.5rem;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ffbe7d;
}

.search {
  display: flex;
}
.search__input {
  padding: 8px 10px;
  width: 100%;
  border: 1px solid #aeafb0;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: 0;
  cursor: text;
  font-size: 1.3rem;
  line-height: 1.3rem;
}
.search__input:focus {
  border: 1px solid #0000ff;
}
.search__input::-webkit-search-cancel-button,
.search__input ::-webkit-search-decoration {
  -webkit-appearance: auto;
}
.search__btn {
  width: 30px;
  height: 33px;
  background: url("assets/icons/magnifying-glass-solid.svg") no-repeat center/50% #d7d7d7;
  border: 1px solid #aeafb0;
  border-left: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search__btn:hover {
  background-color: #aeafb0;
}

.navigation {
  display: none;
  position: absolute;
  top: 25px;
  right: 0px;
  z-index: 1;
}
.navigation__items {
  min-width: 160px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.navigation__item {
  padding: 10px 15px;
  font-size: 2rem;
  line-height: 1.5rem;
}
.navigation__item:last-child {
  border-top: 1px solid #aeafb0;
  color: #ff1964;
}
.navigation__item:hover {
  background-color: #d7d7d7;
}
.navigation__item:hover:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.navigation__item:hover:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user {
  display: flex;
  align-items: center;
}
.user__bg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 25px;
  background-color: #ffffff;
}
.user__image {
  width: 28px;
  height: 25px;
}
.user__image_chuchu {
  background-image: url("assets/images/chuchu.svg");
}
.user__image_coco {
  background-image: url("assets/images/coco.svg");
  width: 24px;
}
.user__image_lala {
  background-image: url("assets/images/lala.svg");
  width: 25px;
}
.user__image_momo {
  background-image: url("assets/images/momo.svg");
  width: 27px;
  height: 21px;
}
.user__image_tt {
  background-image: url("assets/images/tt.svg");
  height: 24px;
}
.user__image_nana {
  background-image: url("assets/images/nana.svg");
}
.user__image_toto {
  background-image: url("assets/images/toto.svg");
  width: 23px;
}
.user__image_dodo {
  background-image: url("assets/images/dodo.svg");
  width: 23px;
}
.user__image_tete {
  background-image: url("assets/images/tete.svg");
  width: 19px;
}
.user__dot {
  margin-left: auto;
}
.user__name {
  margin-left: 10px;
  font-size: 1.7rem;
  text-overflow: ellipsis;
}
.user__viewers {
  margin-left: 10px;
  font-size: 1.8rem;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #ff1964;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgb(255, 25, 100);
  transform: scale(1);
  animation: pulse 2s infinite;
}
.dot_hiden {
  overflow: hidden;
  opacity: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 25, 100, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(255, 25, 100, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 25, 100, 0);
  }
}
.info {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #aeafb0;
}
.info__text {
  margin-bottom: 15px;
  font-size: 1.9rem;
  line-height: 2.2rem;
  text-align: center;
  letter-spacing: 2px;
}
.info__text::selection {
  color: #ffffff;
  background: #ffbe7d;
}
.info__social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
}

.header {
  box-shadow: 0px 4px 8px rgba(13, 14, 13, 0.19);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12.5px 16px;
  column-gap: 100px;
}
.header__logo {
  flex-shrink: 0;
}
.header__search {
  align-items: center;
  flex-grow: 1;
  padding-right: 120px;
  max-width: 590px;
}
.header__navigation {
  display: flex;
  align-items: center;
  column-gap: 20px;
  flex-shrink: 0;
}
.header__menu {
  position: relative;
}
.header__menu:hover .navigation {
  display: block;
}
.header__menu:hover .btn_paw {
  background-color: #d7d7d7;
}

.main {
  display: flex;
}

.sidebar {
  display: flex;
  flex-shrink: 0;
  width: 240px;
  background-color: #d7d7d7;
  min-height: calc(100vh - 65px);
}
.sidebar__users {
  position: fixed;
  max-height: 500px;
  width: 240px;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
}
.sidebar__users::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
.sidebar__users::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background: transparent;
}
.sidebar__user {
  padding: 14px 16px 17px;
}
.sidebar__user:last-child {
  margin-bottom: 0;
}
.sidebar__user:hover {
  background-color: #aeafb0;
}
.sidebar__info {
  margin-top: auto;
  padding: 14px 16px 17px;
  width: 240px;
  border-top: 1px solid #ffffff;
  background-color: #d7d7d7;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
